<div class="row justify-content-md-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Contrato de acuerdo: </label>
      <textarea class="form-control" id="agreementContract" disabled>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum posuere tempus. In id ullamcorper ligula, sit amet consequat mauris. Donec euismod nunc ante, eu gravida sem aliquam et. Etiam vestibulum sollicitudin ipsum a tempus. Cras tristique id metus eget tempor. Ut ut tristique mi. Donec cursus faucibus massa in dictum. Vestibulum tempor vitae turpis quis eleifend. Proin lacinia erat nec quam interdum aliquet.
Duis sit amet luctus neque. Phasellus in est id quam semper egestas. Curabitur eu ante non eros tempus facilisis et ut justo. Nam placerat eros ut sagittis lacinia. Aliquam et massa id nisl imperdiet vestibulum at eget lacus. Aenean feugiat laoreet pellentesque. Curabitur vulputate purus mi, et ornare lacus egestas sit amet. Vivamus congue metus ut tincidunt congue. Vestibulum vitae scelerisque tellus. Nullam mattis lacus posuere turpis tincidunt ultrices.
Fusce consequat lacus ligula, eget sagittis tellus maximus quis. Maecenas magna velit, eleifend et lobortis et, sollicitudin vitae mi. Fusce eget pharetra sapien. Quisque et magna a justo porttitor egestas. Fusce cursus arcu eros, eu blandit dolor consectetur quis. Curabitur feugiat luctus eros, sit amet lacinia quam varius eget. Cras odio justo, dictum ac dui posuere, suscipit feugiat ante. Interdum et malesuada fames ac ante ipsum primis in faucibus.
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus luctus a turpis sit amet placerat. Vestibulum aliquam tristique dolor aliquet auctor. Sed in fringilla enim. Aliquam ac posuere diam, vitae scelerisque purus. Aliquam quis purus vulputate, gravida nunc in, lobortis nulla. Maecenas vehicula risus et interdum facilisis. Vivamus id commodo ipsum.
Cras volutpat, diam consequat dictum tincidunt, ex ligula commodo augue, sit amet luctus risus mi et sapien. Suspendisse ante tortor, venenatis vel nibh et, convallis tempor mauris. Etiam laoreet, odio sit amet condimentum sodales, nulla tellus posuere augue, eget pretium turpis felis nec diam. Nunc volutpat nulla erat, sed maximus lacus pellentesque ac. Integer venenatis egestas ullamcorper. Praesent vestibulum non lorem eu iaculis. Suspendisse interdum varius dolor, vehicula consectetur ante venenatis non. Fusce ornare tempor tincidunt. Sed ut elit quis ligula egestas semper. Phasellus facilisis sapien metus, sit amet maximus diam porta ac. Ut porttitor tellus dui, at tempor dui viverra vel. Morbi congue elementum erat, sed ultricies ante rhoncus vitae. Curabitur maximus, mi at tristique cursus, turpis mauris mattis arcu, eget condimentum nisl dolor at tortor.
      </textarea>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="authorized" (change)="authorized = !authorized">
      <label class="form-check-label" for="flexCheckDefault" required>
        Aceptar condiciones
      </label>
      <small id="contractlHelp" class="form-text text-danger" *ngIf="!authorized"> - Debe aceptar las condiciones para continuar.</small>
    </div>
    <div class="form-group d-flex justify-content-center mt-4">
      <button class="btn btn-primary" type="submit" [disabled]="!authorized">Button</button>
    </div>
  </div>
</div>


