
<div class="row justify-content-md-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-5">
    <table class="table table-sm mb-0">
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="airConditioner">
            <label class="form-check-label" for="airConditioner">
              <p class="text-wrap">Aire acondicionado</p>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="airbag">
            <label class="form-check-label" for="airbag">
              <p class="text-wrap">Airbag</p>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="electricGlasses">
            <label class="form-check-label" for="electricGlasses">
              <p class="text-wrap">Vidrios eléctricos</p>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="electricMirrors">
            <label class="form-check-label" for="electricMirrors">
              <p class="text-wrap">Espejos eléctricos</p>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="absBrakes">
            <label class="form-check-label" for="absBrakes">
              <p class="text-wrap">Frenos ABS</p>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="airConditionerTwo">
            <label class="form-check-label" for="airConditionerTwo">
              <p class="text-wrap">Aire acondicionado 2</p>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sunRoof">
            <label class="form-check-label" for="sunRoof">
              <p class="text-wrap">Sun roof</p>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="automatic">
            <label class="form-check-label" for="automatic">
              <p class="text-wrap">Automático</p>
            </label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
