<div class="row justify-content-md-center">

    <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-3">
        <div class="border w-100">
            <p class="m-2 fw-bold">Pasos a seguir: </p>
            <ol class="m-2 fw-normal">
                <li>Inscribase a la página</li>
                <li>Active su cuenta</li>
                <li>Cambie su contraseña</li>
                <li>Pague su paquete</li>
                <li>Registre los datos</li>
            </ol>
        </div>

        <div class="form-group mt-2">
            <label for="plaque">Placa:</label>
            <input type="text" class="form-control" id="plaque" aria-describedby="plaqueHelp"
                placeholder="Dígitos de la placa" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-2">
            <label for="line">Linea:</label>
            <input type="text" class="form-control" id="line" aria-describedby="lineHelp" placeholder="Linea" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-2">
            <label for="cylinderCapacity">Cilindraje: </label>
            <input type="number" class="form-control" id="cylinderCapacity" aria-describedby="cylinderCapacityHelp"
                placeholder="Cilindraje" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-2">
            <label for="motor">Motor:</label>
            <input type="text" class="form-control" id="motor" aria-describedby="motorHelp" placeholder="Motor" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

    </div>

    <div class="col-12col-sm-12 col-md-8 col-lg-4 col-xl-3">
        <img [src]="carImage" class="w-100 rounded" alt="car image">

        <div class="form-group mt-2">
          <label for="brand">Marca: </label>
          <select class="form-select" aria-label="brands" required>
            <option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</option>
          </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-2">
            <label for="model">Modelo: </label>
            <input type="number" class="form-control" id="model" aria-describedby="modelHelp" placeholder="Modelo"
                min="1900" [max]="thisYear()" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-2">
            <label for="color">Color: </label>
            <input type="color" class="form-control mt-1 mb-2" id="color" aria-describedby="colorHelp"
                placeholder="Color" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group mt-3">
            <label for="color">Servicio: </label>
            <div class="mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="service" id="service1" value="public" checked>
                    <label class="form-check-label" for="service1">Público</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="service" id="service2" value="particular">
                    <label class="form-check-label" for="service2">Particular</label>
                </div>
            </div>
        </div>

    </div>

</div>
