<div class="alert alert-success" role="alert" *ngIf="successMsg">
  Datos Almacenados.
</div>

<form action="" method="post" (submit)="submitForm()" *ngIf="!successMsg">
  <app-general></app-general>

  <app-line></app-line>

  <app-accessories></app-accessories>

  <app-line></app-line>

  <app-contract></app-contract>
</form>
